// @font-face {
//   font-family: 'jx3';
//   src: url('@/assets/font/jx3.ttf');
// }

// 利用cdn加速文件
@font-face {
  font-family: 'jx3';
  src: url('https://jsd.cdn.zzko.cn/gh/Xinx1201/Xinx1201.github.io@main/src/assets/font/jx3.ttf')
    format('truetype');
  font-display: swap;
}

// @font-face {
//   font-family: 'jx3min';
//   src: url('@/assets/font/jx3min.ttf');
// }

@font-face {
  font-family: 'jx3min';
  src: url('https://jsd.cdn.zzko.cn/gh/Xinx1201/Xinx1201.github.io@main/src/assets/font/jx3min.ttf')
    format('truetype');
  font-display: swap;
}
